<div class="container">
	<%= form_tag(movies_path, method: :post, class: "col s12 center-align") do%>
		<h4> Busca de Filmes </h4>
		<div class="row">
      <div class="input-field col s6 offset-s3">
				<%= text_field_tag :query,@query, placeholder: 'Digite termo para pesquisa', required: true, class: 'validate'%>
			</div>
			<div class="input-field col s2">
				<%= button_tag class: 'btn' do %>
					<i class="fa fa-search"></i>
				<% end %>
				<% if @type == "query" %>
					<a href="/movies" class="btn"><i class="fa fa-ban"></i></a>
				<% end %>
			</div>
		</div>
	<% end %>
</div>

	<div class="container">
		<div class="col s12 center-align">
				<% if @type == "query" %>
					<h5> Resultados da Busca </h5> <h6>(<%= @total_records rescue 0 %> filmes encontrados) </h6>
				<% else %>
					<h5> Populares </h5>
				<% end %>
			<div class="row">
				<% if not @movies.empty? %>
					<% @movies.each_with_index do |movie, index|%>
						<div class="col s4 m2">
							<div class="card hoverable">
								<div id="content-<%= movie.id %>" class="card-image waves-effect waves-block waves-light">
									<%= image_tag (movie.image ? movie.image : 'indisponivel.jpg'), class: 'img-responsive'%>
									<% if movie.users.include?(current_user) %>
										<i class="seen circle fa fa-check light-green accent-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Visto"></i>
									<% end %>
								</div>
								<div class="card-content">
									<span><%= movie.title %></span>
								</div>
								<div class="card-reveal" style="text-align: left !important;">
									<span class="card-title"><%= movie.title %><i class="material-icons small right">close</i></span>
									<p> <%= movie.overview %></p>
									<a href="<%= movies_show_path(movie)%>" class="btn"> Ver Mais </a>
								</div>
								<div class="card-action">
									<a class="dropdown-button" href="#!" data-activates="dropdown<%= index%>" data-constrainwidth="false"> Ações </a>

									<ul id="dropdown<%= index%>" class="dropdown-content" style="width: 300px !important;">
										<li><a href="<%= movies_show_path(movie)%>" class="yellow-text text-darken-2"> <i class="fa fa-share"></i> Ver Info </a></li>
										<% if movie.users.include?(current_user) %>
										  <li><a onclick="markAsUnseen('<%= movie.id %>')" class="yellow-text text-darken-2"><i class="fa fa-check"></i>  Marcar como não visto</a></li>
										<% end %>
										<% if not movie.users.include?(current_user) %>
									  	<li><a onclick="markAsSeen('<%= movie.id %>')" class="yellow-text text-darken-2"><i class="fa fa-check"></i>  Marcar como visto</a></li>
										<% end %>
									  <li><a onclick="setMovieID('<%= movie.id %>');$('#modal-list-add').modal('open')" class="yellow-text text-darken-2 waves-effect waves-light modal-trigger"><i class="fa fa-plus"></i> Adicionar a uma lista</a></li>
									  <li><a onclick="setMovieID('<%= movie.id %>');$('#modal-rating').modal('open')" class="yellow-text text-darken-2 modal-trigger waves-effect waves-light"><i class="fa fa-star"></i> Dar nota</a></li>
									</ul>
								</div>
							</div>
						</div>
						<% if (index + 1) % 6 == 0%>
							</div>
							<div class="row">
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
